@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@700&display=swap');

.App {
  text-align: center;
  background-color: #3D3B2F;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Home-logo {
  height: 400;
  width: 363px;
  text-align: right;
}

.color-nav {
  background-color: #F6EFEA;
}

.text-nav {
  color:#0D0D0D;
  border-color:#0D0D0D;
}

.normal-txt {
  color:#F6EFEA;
  border-color:#F6EFEA;
}


.button-primary {
  color:#0D0D0D;
  background-color:#BCAAE2;
  border-color:#BCAAE2;
  text-align: "right"
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #F6EFEA;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #F6EFEA;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
